<br/>
<br/>
<br/>
<br/>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Entrer une spécialité" aria-label="Entrer une spécialité" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Recherche</button>
  </div>
</div>
<br/>
<br/>

<div class="card-body">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Specialite</th>
    </tr>
    </thead>
    <tbody>
<!--    <tr *ngFor="let prat of list()">-->
<!--      <td>{{prat.id}}</td>-->
<!--      <td>{{prat.nom}}</td>-->
<!--      <td>{{prat.prenom}}</td>-->
<!--      <td>{{prat.specialite?.nom}}</td>-->
      <td>
      </td>
<!--    </tr>-->
    </tbody>







<!--    <div class="card mt-3" *ngIf="paticienForm">-->
<!--      <div class="card-header bg-info text-white">-->
<!--        <h3>Liste de praticien selon la specialité</h3>-->
<!--      </div>-->

<!--      <div class="card-body">-->
<!--        <div class="form-group">-->
<!--          <label for="id">Id :</label>-->
<!--          <input type="number" class="form-control" id="comportemental" [(ngModel)]="evaluationForm.comportemental">-->
<!--        </div>-->

<!--      <div class="card-body">-->
<!--        <div class="form-group">-->
<!--          <label for="nom">Nom:</label>-->
<!--          <input type="number" class="form-control" id="comportemental" [(ngModel)]="evaluationForm.comportemental">-->
<!--        </div>-->




<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Praticien du turfu</h5>
    <p class="card-text">Je travail sur les problèmes de temps</p>
    <a href="#" class="btn btn-primary">Prendre rendez-vous</a>
  </div>
</div>
