<br/>
<br/>
<br/>
<br/>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Entrer une spécialité" aria-label="Entrer une spécialité" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Recherche</button>
  </div>
</div>
<br/>
<br/>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Praticien du turfu</h5>
    <p class="card-text">Je travail sur les problèmes de temps</p>
    <a href="#" class="btn btn-primary">Prendre rendez-vous</a>
  </div>
</div>
