<div class="container-fluid">
    <h4 class="display-4 mb-4 text-center">November 2017</h4>
        <span class="row">
          <h5 class="horaire col-sm-1 text-center">Horaires</h5>
          <h5 class="col p-1 text-center">Lundi 7</h5>
          <h5 class="col p-1 text-center">Mardi 8</h5>
          <h5 class="col p-1 text-center">Mercredi 9</h5>
          <h5 class="col p-1 text-center">Jeudi 10</h5>
          <h5 class="col p-1 text-center">Vendredi 11</h5>
          <h5 class="col p-1 text-center">Samedi 12</h5>
          <h5 class="col p-1 text-center">Dimanche 13</h5>
        </span>

  <div class="row border border-right-0 border-bottom-0">
    <div class="day col-sm-1 p-2 border border-left-0 border-top-0 bg-light">
      <h5>

        <table class="heures">
          <tr><td>8h</td></tr>
          <tr><td></td></tr>
          <tr><td></td></tr>
          <tr><td></td></tr>
          <tr><td>9h</td></tr>
        </table>

        <small class="col d-sm-none text-center text-muted">Sunday</small>
        <span class="col-1"></span>
      </h5>
      <p class="d-sm-none">No events</p>
    </div>


    <div class="day col p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">



    </div>

    <div class="day col p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">



    </div>

    <div class="day col p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">



    </div>

    <div class="day col p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">



    </div>

    <div class="day col p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">



    </div>

    <div class="day col p-2 border border-left-0 border-top-0 text-truncate bg-light">
      <table class="rdv">
        <tr class="vide"><td></td></tr>
      <tr><td class="dispo d-inline-flex rounded text-truncate bg-info text-white" title="Test Dispo">disponible 8h-8h15</td></tr>
      <tr><td class="reserve d-inline-flex rounded text-truncate" title="Test Res">réservé 8h15-8h30</td></tr>
        <tr><td class="non_dispo d-inline-flex rounded text-truncate" title="Test non_dispo">Non Disponible 8h30-8h45</td></tr>
      </table>
    </div>

    <div class="day col p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">



    </div>
  </div>
</div>

