<div *ngFor="let creneau of crenaux" class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{creneau.id}} - {{creneau.version}} - {{creneau.dateCreneau}}</h5>
    <h5 class="card-title">{{creneau.consultation.id}} - {{creneau.consultation.nbCreneau}} - {{creneau.consultation.statut}}</h5>
    <h5 class="card-title">{{creneau.consultation.praticien.id}} - {{creneau.consultation.praticien.nom}}  - {{creneau.consultation.praticien.prenom}} </h5>
    <h5 class="card-title">{{creneau.consultation.patient.id}} - {{creneau.consultation.patient.nom}}  - {{creneau.consultation.patient.prenom}} </h5>

    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
